// // DESIGN SYSTEM
// $primary-t-color : #1315BA;
// $muted-t-color: rgba(157, 162, 176, 0.76);
// $ws-font: 'Work Sans', sans-serif ;
// $rb-font: 'Roboto', sans-serif;
// $black-c-text :rgba(0, 0, 0, 0.76);
// $form-bg-color:#F4F7FD;

.noSidenav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: #020e8a;
  width: 100% !important;
  width: 0%;
  transition: 0.5s ease-in;
}

.cont-mobile {
  display: none;
}

.side-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  .side-logo-cont {
    width: 30px;
    img {
      width: 100%;
    }
  }

  h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}

.btn-sidenav {
  display: none;
}

.inside-btn-sidenav {
  display: none;
}

.sidenav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.activenav {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  color: #ffc700;
  text-decoration: none;
}
.inactive {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.enroll-nav {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  color: #020e8a;
  text-decoration: none;
  background: #f2bf0e;
  border-radius: 25px;
  padding: 10px 15px;
  margin-bottom: 0px;
}



@media (max-width: 905px) {
  .cont-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: #020e8a;
    width: 100%;
  }
  .noSidenav-cont {
    display: none;
  }

  .btn-sidenav {
    display: block;

    svg {
      color: white;
      font-size: 30px;
    }
  }

  .noSidenav-cont {
    width: 0px;
    transition: 0.5s ease-in;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
  }

  .sidenav-cont {
    display: flex;
    background: #020e8a;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    transition: 0.5s ease-in;
    width: 300px;
    height: 100vh;
    box-shadow: 1px 1px 12px -6px rgba(0,0,0,0.75);
    z-index: 50;
  }
  .sidenav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .sidenav-links {
    margin-left: 20%;
    margin-top: 30px;
  }

  .mobile {
    margin-top: 20px;
  }

  .inactive {
    margin-top: 30px;
  }

  .activenav{
    margin-top: 30px;
  }

  .logout-side {
    display: flex;
    margin-left: 20%;
    align-items: center;
    margin-top: 30px;
  }
}

// .sidenav-links {
//     width: 100%;
// }

// .activenav {
//     width: 100%;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     padding-left: 50px;
//     background: rgba(255, 255, 255, 0.25);

//     font-family: $ws-font;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 21px;
//     letter-spacing: 1px;
//     color: #FFFFFF;
//     text-decoration: none;
//     padding-top: 15px ;
//     padding-bottom: 15px;

//     img {
//         margin-right: 30px;
//     }

// }

// .inactive {
//     width: 100%;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     padding-left: 50px;
//     font-family: $ws-font;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 21px;
//     letter-spacing: 1px;
//     color: #FFFFFF;
//     text-decoration: none;
//     padding-top: 15px ;
//     padding-bottom: 15px;

//     img {
//         margin-right: 30px;
//     }

// }

// .logout-side {
//     width: 100%;
//     margin-bottom: 20px;
// }

// .btn-sidenav {
//     display: none;
// }

// .noSidenav-cont {
//     height: 100vh;
//     width: 286px;
//     overflow-y: hidden;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     background-color:  $primary-t-color;
//     position: fixed;
//     transition: 0.3s ease-in;
//     z-index: 100;
//     overflow-x: hidden;
//     overflow-y: hidden;

//     // border: 2px solid red;
// }

// .inside-btn-sidenav {
//     display: none;
// }

// @media (max-width: 700px) {
//     .btn-sidenav {
//         display: block;
//         position: fixed;
//         left: 0px;
//         top: 60px;
//         opacity: 0.5;

//         button {

//             border: none;
//             background-color: $primary-t-color;
//             border-radius: 0% 0% 100% 0% / 24% 0% 100% 43% ;
//             i {
//                 font-size: 30px;
//                 color: white;
//                 padding: 7px 14px 14px 5px;

//             }
//         }
//     }

//     .inside-btn-sidenav {
//         display: block;
//         position: absolute;
//         right: 2px;
//         top: 2px;
//         opacity: 1;

//         button {

//             border: none;
//             background-color: white;
//             border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%  ;
//             i {
//                 font-size: 30px;
//                 color: $primary-t-color;
//                 padding: 5px 2px 9px 10px;

//             }
//         }
//     }

//     .noSidenav-cont {
//         // position: fixed;
//         // left:-80%;
//         transition: 0.3s ease-in;
//         width: 0;

//     }

//     .sidenav-cont-cont {
//         transition: 0.6s ease-in;

//     }
// }
