.each_store_item_efe {
  border: 1px solid #1561bd3d;
  padding: 5px;
  border-radius: 3px;
  width: 100% !important;
  // border: 2px solid red !important;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.261);
  box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.227);
  transition: 0.5s ease-in !important;
}

.each_store_item_efe_more {
  border: 1px solid #1561bd3d;
  padding: 5px;
  border-radius: 3px;
  width: 100% !important;
  // border: 2px solid red !important;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.261);
  box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.227);
  transition: 0.5s ease-in !important;
  height: 33vh;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-decoration: none;
  color: black;
  z-index: -200;
}

.react-multiple-carousel_arrow--right {
  border: 2px solid red !important;
}

.each_store_item_efe_more:hover {
  transform: translate(0px, -10px);
  color: black;
}

.link_to_single_product {
  text-decoration: none;
}

.no_result {
  border: 1px solid #1561bd3d;
  padding: 5px;
  margin-left: 5%;
  border-radius: 3px;
  width: 180px !important;
  text-align: center;
  color: #1560bd;
  // border: 2px solid red !important;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.261);
  box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.227);
  transition: 0.5s ease-in !important;
  height: 36vh;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.each_store_item_efe:hover {
  transform: translate(0px, -10px);
}

.carousel_cont {
  padding: 20px 20px 20px 0px !important;
  li {
    width: 180px !important;
    margin-right: 20px !important;
  }
}

.view_efe {
  background-color: #1560bd;
  color: white;
  padding: 5px 10px;
  width: 109px;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  transition: 0.3s ease-in !important;
}

.view_efe:hover {
  transition: 0.5s ease-in;
  -webkit-box-shadow: inset 4px 14px 28px -6px rgba(0, 0, 0, 0),
    inset 10px 15px 26px -6px rgba(0, 0, 0, 0.34), 10px 11px 17px -13px #000000;
  box-shadow: inset 4px 14px 28px -6px rgba(0, 0, 0, 0),
    inset 10px 15px 26px -6px rgba(0, 0, 0, 0.34), 10px 11px 17px -13px #000000;
}

.item_img_efe {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item_img_efe > img {
  width: 100%;
  background-color: #1561bd74;
}

.eachstoretextitemefe > p {
  font-family: "Mulish", sans-serif;
  color: rgb(158, 158, 158);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.eachstoretextitemefe > h4 {
  font-family: "Mulish", sans-serif;
  color: rgb(133, 133, 133);
  font-size: 18px;
}

.eachstoretextitemefe > h3 {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

@media (max-width: 760px) {
  .no_result {
    margin-bottom: 50px;
  }

  .similar-whole-whole {
    margin-bottom: 60px;
  }
}
