<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="background-color: transparent">
      <div
        class="m_-2911877045926577610block-grid"
        style="
          min-width: 320px;
          max-width: 600px;
          word-wrap: break-word;
          word-break: break-word;
          margin: 0 auto;
          background-color: #ffffff;
        "
      >
        <div
          style="
            border-collapse: collapse;
            display: table;
            width: 100%;
            background-color: #ffffff;
          "
        >
          <div
            class="m_-2911877045926577610col"
            style="
              min-width: 320px;
              max-width: 600px;
              display: table-cell;
              vertical-align: top;
              width: 600px;
            "
          >
            <div
              class="m_-2911877045926577610col_cont"
              style="width: 100% !important"
            >
              <div
                style="
                  border-top: 0px solid transparent;
                  border-left: 0px solid transparent;
                  border-bottom: 0px solid transparent;
                  border-right: 0px solid transparent;
                  padding-top: 5px;
                  padding-bottom: 5px;
                  padding-right: 0px;
                  padding-left: 0px;
                "
              >
                <div
                  style="
                    color: #555555;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.2;
                    padding-top: 30px;
                    padding-right: 25px;
                    padding-bottom: 0px;
                    padding-left: 25px;
                  "
                >
                  <div
                    style="
                      line-height: 1.2;
                      font-size: 12px;
                      color: #555555;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 24px;
                        line-height: 1.2;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      <span style="font-size: 24px"
                        ><strong
                          >New form submission on Xellentia Hub</strong
                        ></span
                      >
                    </p>
                  </div>
                </div>

                <div
                  style="
                    color: #555555;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.2;
                    padding-top: 10px;
                    padding-right: 25px;
                    padding-bottom: 30px;
                    padding-left: 25px;
                  "
                >
                  <div
                    style="
                      line-height: 1.2;
                      font-size: 12px;
                      color: #555555;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.2;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      Someone just submitted a form on localhost:3000/. Here's
                      what they had to say:
                    </p>
                  </div>
                </div>

                <div
                  style="
                    color: #000000;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.5;
                    padding-top: 10px;
                    padding-right: 25px;
                    padding-bottom: 10px;
                    padding-left: 25px;
                  "
                >
                  <div
                    style="
                      line-height: 1.5;
                      font-size: 12px;
                      color: #000000;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      <span style="color: #999999">email</span>
                    </p>
                    <span
                      style="
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 16px;
                      "
                    >
                      <a
                        href="mailto:adenugaadewumi01@gmail.com"
                        target="_blank"
                        >adenugaadewumi01@gmail.com</a
                      >
                    </span>
                  </div>
                </div>

                <div
                  style="
                    color: #000000;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.5;
                    padding-top: 10px;
                    padding-right: 25px;
                    padding-bottom: 10px;
                    padding-left: 25px;
                  "
                >
                  <div
                    style="
                      line-height: 1.5;
                      font-size: 12px;
                      color: #000000;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      <span style="color: #999999">phoneNumber</span>
                    </p>
                    <span
                      style="
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 16px;
                      "
                    >
                      8165066397
                    </span>
                  </div>
                </div>

                <div
                  style="
                    color: #000000;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.5;
                    padding-top: 10px;
                    padding-right: 25px;
                    padding-bottom: 10px;
                    padding-left: 25px;
                  "
                >
                  <div
                    style="
                      line-height: 1.5;
                      font-size: 12px;
                      color: #000000;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      <span style="color: #999999">message</span>
                    </p>
                    <span
                      style="
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 16px;
                      "
                    >
                      I would like to say you are doing a grate job
                    </span>
                  </div>
                </div>

                <div
                  style="
                    color: #000000;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.5;
                    padding-top: 10px;
                    padding-right: 25px;
                    padding-bottom: 10px;
                    padding-left: 25px;
                  "
                >
                  <div
                    style="
                      line-height: 1.5;
                      font-size: 12px;
                      color: #000000;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      <span style="color: #999999">name</span>
                    </p>
                    <span
                      style="
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 16px;
                      "
                    >
                      Adenuga Adewumi
                    </span>
                  </div>
                </div>

                <div
                  style="
                    color: #000000;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.5;
                    padding-top: 10px;
                    padding-right: 25px;
                    padding-bottom: 10px;
                    padding-left: 25px;
                  "
                >
                  <div
                    style="
                      line-height: 1.5;
                      font-size: 12px;
                      color: #000000;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      <span style="color: #999999">interest</span>
                    </p>
                    <span
                      style="
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.5;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 16px;
                      "
                    >
                      A levels
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background-color: transparent">
      <div
        class="m_-4903568737834920685block-grid"
        style="
          min-width: 320px;
          max-width: 600px;
          word-wrap: break-word;
          word-break: break-word;
          margin: 0 auto;
          background-color: #ffffff;
        "
      >
        <div
          style="
            border-collapse: collapse;
            display: table;
            width: 100%;
            background-color: #ffffff;
          "
        >
          <div
            class="m_-4903568737834920685col m_-4903568737834920685num8"
            style="
              display: table-cell;
              vertical-align: top;
              max-width: 320px;
              min-width: 400px;
              width: 400px;
            "
          >
            <div
              class="m_-4903568737834920685col_cont"
              style="width: 100% !important"
            >
              <div
                style="
                  border-top: 0px solid transparent;
                  border-left: 0px solid transparent;
                  border-bottom: 0px solid transparent;
                  border-right: 0px solid transparent;
                  padding-top: 15px;
                  padding-bottom: 5px;
                  padding-right: 15px;
                  padding-left: 15px;
                "
              >
                <div
                  style="
                    color: #999;
                    font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                      sans-serif;
                    line-height: 1.2;
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                  "
                >
                  <div
                    style="
                      line-height: 1.2;
                      font-size: 12px;
                      color: #999;
                      font-family: Open Sans, Helvetica Neue, Helvetica, Arial,
                        sans-serif;
                    "
                  >
                    <p
                      style="
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.2;
                        word-break: break-word;
                        margin-top: 0;
                        margin-bottom: 0;
                      "
                    >
                      Submitted 08:03 PM - 10 September 2022
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
